h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1 {
	font-size: 16.4rem;
	font-size: 164px;
	font-family: questa-regular;
	margin-bottom: -4.8rem;
	color: inherit;
}

h2 {
	font-family: gilroy-extrabold;
	font-size: 3rem;
	font-size: 30px;
	color: black;

	text-transform: uppercase;
	
	margin-bottom: 3.2rem;
}

h3 {
	font-family: gilroy-extrabold;
	font-size: 2.4rem;
	font-size: 24px;
	margin-bottom: .8rem;
}
