#start {
  @media only screen and (orientation: portrait) {
    height: 100vh;
  }

  @media (max-width: 576px) {
    height: auto;
  }

  @media (min-width: 992px) {
    height: 100vh;
  }

  .carousel {
    &,
    &-inner,
    &-item {
      height: 100%;
      overflow: hidden;
    }

    &-caption {
      position: absolute;
      right: 15%;
      bottom: 20px;
      left: 20%;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 20px;

      text-align: left;
    }
  }

  h1 {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }



  p {
    @include font-size(3);
    font-family: gilroy-light;
    color: white;
    margin-top: .4rem;
    margin-bottom: 1em;
    display: none;
    @media (min-width: 768px) {
      @include font-size(4.3);
      margin-bottom: 1.6rem;
      display: block;
    }
  }


  img {
    display: block;
    max-width: 100%;
    margin-bottom: 0;

    @media only screen and (orientation: portrait) {
      max-width: 100%;
      height: auto;
      margin-left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: 768px) {
      max-width: none;
    }

    @media (min-width: 1200px) {
      max-width: 100%;
      width: 100%;
    }
  }
}
