section {
  & > .container,
  & > .container-fluid {
    padding: {
      top: 12.8rem;
      bottom: 12.8rem;
    }
    @media (max-width: 768px) {
      padding-bottom: 2.8rem;
    }
  }

  &:last-of-type {
    & > .container,
    & > .container-fluid {
      padding: {
        bottom: 0;
      }
    }
  }

  img {
    margin-bottom: 1.6rem;
  }
}

#intro {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;

  height: 100vh;
  background: #de1a2d;

  img {
    @include media-lg {
      width: 230px;
    }

    @include media-xl {
      width: 260px;
    }
  }

  h1 {
    @include font-size(2.2);
    color: white;
  }
}

#about {
    h3 {
      text-align: center;
    }
}

#sauce {
  background: black;

  h2 {
    color: white;
  }
  .sauce-ingredients-container{
    @media (max-width: 768px) {
      display: none;
    }
  }
}

#inspiration {
  .container-fluid {
    padding: {
      left: 0;
      right: 0;
    }
  }

  .content-wrapper {
    @extend .align-self-center;

    padding: 4rem;
    margin-bottom: -1.6rem;
  }

  .image-wrapper {
    position: relative;
    overflow: hidden;

    img {
      @media (min-width: 576px) {
        position: absolute;
        max-width: none;
        height: 100%;

        margin-left: 50%;
        transform: translateX(-50%);
      }

      @media (min-width: 992px) {
        position: static;
        max-width: 100%;
        height: auto;
        margin-left: 0;
        transform: none;
      }
    }
  }

  img {
    margin-bottom: 0;
  }

  h3 {
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
}
