#footer {
  position: relative;

  padding: 6.4rem 0 3.2rem;

  @include font-size(1.5);

  background: white;
  z-index: 2;

  @include media-md {
    padding: 15.8rem 0 3rem;
  };

  h2,
  p,
  a {
    font-size: inherit;
    font-family: inherit;
    color: #999999;
  }

  h2 {
    margin-bottom: 2.4rem;

    @include media-md {
      margin-bottom: 3.2rem;
    };
  }

  a {
    color: black;

    &:hover {
      border-bottom: 1px solid #999999;
      color: #999999;
      text-decoration: none;
    }

    &.tel {
      @include media-xl
    }
  }

  .logo {
    &:hover {
      border: 0;
    }

    img {
      max-width: 250px;

      @include media-md {
        max-width: 60%;
      };
    }
  }

  .socialmedia-bar {
    @extend .d-flex;
    @extend .flex-row;
    @extend .justify-content-around;

    @include media-md {
      display: block !important;
    };

    a {
      display: block;

      &:hover {
        border: 0;
      }
    }

    img {
      width: 2rem;
      margin: 1rem 0;

      @include media-md {
        width: 1.2rem;
      };
    }
  }

  .row {
    margin-bottom: -3.2rem;

    .col,
    [class*="col-"] {
      margin-bottom: 3.2rem;
    }
  }
}

div.modal-header {
  border-bottom: none;
  button.close {
    font-size: 3.6rem !important;
  }
}
div.modal-content {
  padding: 30px;
  border-radius: 0;
}
