#header {
  @extend .navbar;
  @extend .navbar-expand-lg;
  @extend .fixed-top;

  padding: {
    top: 45px;
    bottom: 45px;
  }

  transition: all 600ms ease;
  z-index: 3;

  opacity: 0;
  visibility: hidden;

  .admin-bar & {
    top: map-get($wp_admin_bar, 'mobile');

    @media (min-width: 782px) {
      top: map-get($wp_admin_bar, 'desktop');
    }
  }

  &.nav-visible {
    opacity: 1;
    visibility: visible;
  }

  div {
    @extend .align-self-start;
  }

    .logo {
      @extend .align-self-start;

      width: 150px;
      padding: 0;

      transition: all 600ms ease;

      @include media-lg {
        width: 230px;
      }

      @include media-xl {
        width: 260px;
      }
    }

  &.minified {
    padding: {
      top: 15px;
      bottom: 15px;
    }

    background: rgba(black, .67);

    .logo {
      width: 60px;
    }
  }
}
