html {
  font-size: 62.5%;
}

body {
  @include font-size(1.4);
  font-family: "gilroy-light";

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(black, 0);

    transition: 300ms ease all;

    pointer-events: none;
    z-index: 1;
  }

  &::after {
    z-index: 4;
  }

  &.overlay::before,
  &.overlay-2::after {
    background: rgba(black, .67);
    pointer-events: auto;
  }

  &.overlay-2::after {
    @media (min-width: 992px) {
      background: rgba(black, 0);
      pointer-events: none;
    }
  }
}

@import "header";
@import "content";
@import "footer";
