#sauce {
  color: white;
  min-height: 200vh;        // Using this trick to better allow scrollify.initSauces() to trigger, because height is depended on images being loaded.

  &.display-sauces {
    min-height: 100vh;
  }

  @include media-md {
    min-height: 0;
  }

  &-triggers {
    margin-bottom: 5rem;
  }

  &-targets {
    position: relative;

    @include media-md {
      min-height: 608px;
    }
  }
}

.sauce {
  &-target {
    height: 0;
    opacity: 0;
    visibility: hidden;

    transition: all 1000ms ease 300ms;

    @include media-md {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }

    &.active {
      height: auto;

      @include media-md {
        height: 100%;
      }

      .display-sauces & {
        opacity: 1;
        visibility: visible;
        transition: all 1000ms ease-in 1000ms;
      }
    }
  }

  &-images {
    @include media-md {
      height: 608px;
    };
  }

  &-image {
    @extend .d-flex;
    @extend .align-items-end;
    @extend .justify-content-center;

    @include media-md {
      position: absolute;
      top: 0;

      display: block !important;
      height: 100%;
    }

    img {
      @include media-md {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        display: block;
        width: 150px;
        margin: 0 auto;

        @include anim-default(4, 0, alternate, fade-reverse);
        animation-play-state: paused;
      }

      .active & {
        @include media-md {
          animation-play-state: running;
        }
      }
    }

    &:last-child img {
      @include media-md {
        opacity: 0;
        @include anim-default(4, 4, alternate, fade-reverse);
      }
    }
  }

  &-ingredients {
    @extend .d-flex;
    @extend .flex-row;
    @extend .flex-wrap;
    @extend .align-items-center;
    @extend .justify-content-center;
    @extend .text-center;

    margin-top: 30px;
    pointer-events: none;

    @include media-md {
      position: absolute;
      top: 0;
      left: 0;

      display: block !important;
      width: 100%;
      height: 608px;

      margin-top: 0;
    }

    &-container {
      display: inline-block;
      padding: 10px;

      color: white;

      animation-play-state: paused;

      @include media-md {
        position: absolute;

        display: block;
        padding: 0;
      }

      .active & {
        @include media-md {
          animation-play-state: running;
        }
      }

      img {
        display: none;

        @include media-md {
          display: block;
        }
      }

      p {
        margin: 0;
      }



      &.pos-1 {
        @include media-md {
          width: 15%;
          top: 37.5%;
          left: 0;

          @include anim-default();
        }

        &-1 {
          @include media-md {
            width: 10%;
            left: 12.5%;
            top: 42.5%;

            @include anim-default(1.833333, 0, alternate-reverse, hover, infinite);
          }
        }
      }

      &.pos-2- {
        @include media-md {
          width: 10%;
          top: 0%;
          left: 17.5%;

          @include anim-default(1.333333, 0);
        }

        &-1 {
          @include media-md {
            width: 5%;
            left: 30%;
            top: 7.5%;

            @include anim-default(1.5, 0, alternate-reverse);
          }
        }
      }

      &.pos-3 {
        @include media-md {
          width: 10%;
          top: 5%;
          left: 60%;

          @include anim-default(2.5);
        }

        &-1 {
          @include media-md {
            width: 5%;
            left: 70%;
            top: 10%;

            @include anim-default(2.333333, 0, alternate-reverse);
          }
        }
      }

      &.pos-4 {
        @include media-md {
          width: 7.5%;
          top: 49%;
          left: 75%;

          @include anim-default(1.833333);
        }

        &-1 {
          @include media-md {
            width: 7.5%;
            left: 85%;
            top: 46.5%;

            @include anim-default(2, 0, alternate-reverse);
          }
        }
      }

      //define width of ingradients
      &.tomato {
        width: 10%;
      }
      &.turmeric {
        width: 9%;
      }
      &.oil {
        width: 14%;
      }
      &.vinegar {
        width: 15%;
      }
      &.onion {
        width: 9%;
      }
      &.cinnamon {
        width: 9%;
      }
      &.habanero {
        width: 15%;
      }
      &.clove {
        width: 9%;
      }


    }
  }

  &-details {
    padding-top: 50px;
  }

}


   #sauce-habanero {
     .sauce-ingredients-container.pos-2-1 {
       top: 5% !important;
       left: 25% !important;
       @include anim-default(2.75);
     }
     .pos-1-1 {
       top: 45% !important;
       left: 15% !important;
   }
 }

#sauce-trinidad {
  .sauce-ingredients-container.pos-2-1 {
    top: 5% !important;
    left: 25% !important;
    @include anim-default(2.75);
  }
  .pos-1-1 {
    top: 45% !important;
    left: 15% !important;
  }
}

  #sauce-barbecue {
    .sauce-ingredients-container.pos-2-1 {
      top: 5% !important;
      left: 25% !important;
      @include anim-default(2.75);
    }
    .pos-2 {
      @include anim-default(2.33);
    }
    .pos-4 {
      top: 45% !important;
      left: 62% !important;
    }
  }


#sauce {
  #sauce-curry {
    .sauce-ingredients-container.pos-2-1 {
      top: 5% !important;
      left: 25% !important;
      @include anim-default(2.75);
    }
    .pos-2 {
      left: 6% !important;
      @include anim-default(2.33);
    }
    .pos-4 {
      top: 49% !important;
      left: 84% !important;
    }
    .pos-1-1 {
      top: 45% !important;
      left: 27% !important;
    }
    .pos-3-1 {
      left: 83% !important;
      top: 25% !important;
    }
    .pos-3 {
      left: 63% !important;
      top: 9%;
    }
    .pos-1 {
      top: 25% !important;
    }
  }
}

