#sauce {
  &-triggers {
    margin-bottom: 5rem;
  }

  &-targets {
    position: relative;
    height: 550px;
  }
}

.sauce {
  &-target {
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;

    transition: all 1000ms ease-out 300ms;

    &.active {
      .display-sauces & {
        opacity: 1;
        visibility: visible;
      }
    }

    & > img {
      display: block;
      width: 150px;
      margin: 0 auto;
    }
  }

  &-ingredients {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    pointer-events: none;

    &-container {
      position: absolute;
      top: -99%;
      left: -99%;

      text-align: center;
      color: white;

      animation-play-state: paused;
      transition: all 3000ms ease-out;

      &.pos-1 {
        width: 15%;
        @include anim-default();

        &-1 {
          width: 10%;
          @include anim-default(1.833333, 0, alternate-reverse, hover, infinite);
        }
      }

      &.pos-2 {
        width: 10%;
        @include anim-default(1.333333, 0);

        &-1 {
          width: 5%;
          @include anim-default(1.5, 0, alternate-reverse);
        }

        &,
        &-1 {
          top: -198%;
        }
      }

      &.pos-3 {
        width: 10%;
        @include anim-default(2.5);

        &-1 {
          width: 5%;
          @include anim-default(2.333333, 0, alternate-reverse);
        }

        &,
        &-1 {
          top: -198%;
          left: 198%;
        }
      }

      &.pos-4 {
        width: 7.5%;
        @include anim-default(1.833333);

        &-1 {
          width: 7.5%;
          @include anim-default(2, 0, alternate-reverse);
        }

        &,
        &-1 {
          left: 198%;
        }
      }

      .active & {
        animation-play-state: running;

        &.pos-1 {
          top: 37.5%;
          left: 0;

          &-1 {
            left: 12.5%;
            top: 42.5%;
          }
        }

        &.pos-2 {
          top: -10%;
          left: 20%;

          &-1 {
            left: 30%;
            top: -2.5%;
          }
        }

        &.pos-3 {
          top: 5%;
          left: 60%;

          &-1 {
            left: 70%;
            top: 10%;
          }
        }

        &.pos-4 {
          top: 55%;
          left: 75%;

          &-1 {
            left: 85%;
            top: 52.5%;
          }
        }
      }
    }
  }
}
