#nav {
  &-left,
  &-right {
    @extend .collapse;
    @extend .navbar-collapse;

    li {
      .nav-link {
        outline: 0;

        @include media-lg {
          padding: {
            left: 25px;
            right: 25px;
          }
        }

        @include media-xl {
          padding: {
            left: 37px;
            right: 37px;
          }
        }

        span {
          @include font-size(1.6);

          font-family: 'gilroy-light';
          color: white;
          text-transform: uppercase;

          &:hover{
            border-bottom: 2px solid white;
            color: white;
          }
        }
      }

      &.active {
        .nav-link {
          span {
            font-family: 'gilroy-extrabold';
            &:hover{
              border-bottom: none;
            }
          }
        }
      }

      .overlay-footer & {
        &.active {
          .nav-link {
            span {
              font-family: 'gilroy-light';
            }
          }
        }

        .nav-link {
          &[href="#footer"] {
            span {
              font-family: 'gilroy-extrabold';
            }
          }
        }
      }
    }
  }
}

.navbar-toggler {
  position: fixed;
  top: 15px;
  right: 15px;

  border-color: white;

  z-index: 6;

  &::before {
    display: none;
  }

  &-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .mobile-nav &:not(:disabled):not(.disabled),
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):hover,
  &:not(:disabled):not(.disabled):focus {
    background: white;
  }

  .mobile-nav &:not(:disabled):not(.disabled) &-icon,
  &:not(:disabled):not(.disabled):active &-icon,
  &:not(:disabled):not(.disabled).active &-icon,
  &:not(:disabled):not(.disabled):hover &-icon,
  &:not(:disabled):not(.disabled):focus &-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}

body {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  transition: all 600ms ease;

  @at-root {
    #mobileNav {
      @extend #nav-left;

      position: fixed;
      top: 0;
      right: -66.66667%;
      left: auto;

      display: block;
      height: 100%;

      padding-top: 6.4rem;

      background: black;

      z-index: 5;
      transition: all 600ms ease;

      @include media-sm {
        right: -33.33333%;
      }

      @include media-md {
        right: -25%;
      }

      .nav {
        @extend .flex-column;
      }
    }
  }

  &.mobile-nav {
    left: -66.66667%;
    overflow: hidden;

    @include media-sm {
      left: -33.33333%;
    }

    @include media-md {
      left: -25%;
    }

    @include media-lg {
      left: 0%;
    }

    #header {
      left: -133.33333%;
      transition: all 600ms ease;

      @include media-sm {
        left: -66.66667%;
      }

      @include media-md {
        left: -50%;
      }

      @include media-lg {
        left: 0%;
      }
    }

    #mobileNav {
      right: 0;
      left: auto;

      @include media-lg {
        right: -25%;
      }
    }
  }
}
