@font-face {
  font-family: 'gilroy-light';
  src: url('font/gilroy-light-webfont.woff2') format('woff2'),
  url('font/gilroy-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy-extrabold';
  src: url('font/gilroy-extrabold-webfont.woff2') format('woff2'),
  url('font/gilroy-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'questa-regular';
  src: url('font/2-Questa_Regular-webfont.woff2') format('woff2'),
  url('font/2-Questa_Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




