// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 10) * 1px;
	font-size: $sizeValue * 1rem;
}


// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	&::after {
		content: "";
		display: table;
		table-layout: fixed;
		clear: both;
	}
}

@mixin anim-default($duration: 2, $delay: 0, $direction: alternate, $name: hover, $iteration: infinite) {
	animation-name: $name;
	animation-duration: $duration * 1s;
	animation-iteration-count: $iteration;
	animation-direction: $direction;
	animation-delay: $delay * 1s;
}

@mixin media-sm {
	@media (min-width: map-get($breakpoints, 'sm')) {
		@content;
	}
}

@mixin media-md {
	@media (min-width: map-get($breakpoints, 'md')) {
		@content;
	}
}

@mixin media-lg {
	@media (min-width: map-get($breakpoints, 'lg')) {
		@content;
	}
}

@mixin media-xl {
	@media (min-width: map-get($breakpoints, 'xl')) {
		@content;
	}
}
