button {
	@extend .btn;
	@extend .btn-outline-danger;
	@extend .hvr-underline-from-left;
	@extend .text-left;

	display: block;

	color: white;
	@include font-size(1.6);
	
  border-radius: 0;
	border: 0;
  padding: 4px 0px;

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
	&:not(:disabled):not(.disabled):hover,
  &:not(:disabled):not(.disabled):focus {
    background-color: transparent;
  }
}
